@mixin haxball-button {
  position: relative;
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  background-color: #244967;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;

  &:focus {
    outline: none
  }

  &:hover {
    background-color: #2f5e85;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transition: opacity .5s;
      transition-delay: .3s
    }
  }

  &:active {
    background-color: #193449
  }

  &:disabled {
    background-color: #3e3e3e
  }

  .tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 500;
    position: absolute;
    z-index: 11;
    bottom: 130%;
    left: 0%;
    opacity: 0;
    transition: opacity 0s
  }

  .tooltip-left {
    @extend .tooltip;
    left: auto;
    right: 0%;
  }
}

.dialog,
.room-view>.container {
  background-color: #1A2125;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;

  &>h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px !important;
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 3px;
    border-bottom-color: #c13535;
    border-bottom-style: solid
  }

  &>:not(:last-child) {
    margin-bottom: 6px
  }

  .row {
    display: flex;

    &>:not(:last-child) {
      margin-right: 6px
    }

    &>* {
      flex: 1
    }
  }

  button {
    @include haxball-button;
  }

  .label-input {
    display: flex;
    background-color: #244967;
    align-items: baseline;
    border-radius: 5px;
    padding: 3px 3px 3px 5px;

    &>* {
      flex: 1
    }

    label {
      flex: 0 0 auto;
      margin-right: 10px
    }
  }

  .file-btn {
    input[type="file"] {
      display: none
    }

    label {
      @include haxball-button;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      display: inline-block;
      cursor: pointer;
    }
  }

  select {
    border: 1px solid #111619;
    background-color: #111619;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    padding: 0px 5px;

    &:hover:not(:disabled) {
      border-color: #244967
    }
  }
}

@media (max-height: 700px) {
  .chatbox-view {
    height: 130px
  }
}

.chatbox-view {
  display: flex;
  flex-direction: column;
  width: 800px;
  min-width: 300px;
  padding: 5px;
  position: relative;
  height: 130px;

  &>:not(:first-child) {
    margin-top: 5px
  }

  &>.log {
    position: relative;
    flex-grow: 1;
    overflow-y: scroll;
    line-height: 1.3;

    p {
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 3px
      }

      &.notice {
        color: #8ed2ab
      }

      &.highlight {
        font-weight: bold
      }

      &.announcement {
        border-left: 3px solid #c13535;
        padding-left: 5px;
        min-height: 12px;
        white-space: pre-wrap
      }
    }
  }

  &>.input {
    display: none
  }
}

.game-view {
  position: absolute;
  top: 35px;
  width: 100vw;
  height: calc(100vh - 35px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &>.top-section {
    position: relative;
    flex-grow: 1;
    left: 100%;
    min-height: 0
  }

  &>.bottom-section {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background-color: #1A2125;
    position: relative;
    left: 100%;
    padding-bottom: 40px;

    &>.buttons {
      padding: 6px;
      white-space: nowrap;
      margin-right: auto;
      display: flex;
      flex-direction: column;

      &>:not(:last-child) {
        margin-bottom: 6px
      }
    }

    button {
      @include haxball-button;
    }

    .stats-view {
      margin-right: auto
    }
  }

  &>[data-hook="popups"] {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(115, 136, 92, 0.5);
    opacity: 0
  }
}


.game-timer-view {
  display: flex;
  align-items: center;

  &>.overtime {
    margin-right: 20px;
    visibility: hidden;

    &.on {
      visibility: visible;
      animation: 0.4s linear overtime-appear
    }
  }

  &>.digit {
    width: 15px;
    text-align: center
  }

  &.time-warn {
    animation: 0.3s infinite alternate linear time-warn
  }
}

@keyframes time-warn {
  from {
    color: white
  }

  to {
    color: #ff8080
  }
}

@keyframes overtime-appear {
  from {
    opacity: 0;
    transform: translateY(-25px)
  }
}

.game-state-view {
  position: absolute;
  width: 100%;
  height: 100%;

  .bar-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1
  }

  .bar {
    display: flex;
    justify-content: center;
    background-color: #1A2125;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    font: 900 20px Arial, sans-serif;

    &>.scoreboard {
      display: flex;
      align-items: center;
      margin-right: 100px;

      .score {
        width: 35px;
        overflow: hidden;
        text-align: center
      }

      .teamicon {
        width: 23px;
        height: 23px;
        border-radius: 5px;

        &.blue {
          background-color: #5689E5
        }

        &.red {
          background-color: #E56E56
        }
      }
    }
  }

  canvas {
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor
  }

  &.restricted {
    background-color: #2e343c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bar-container {
      position: relative;
      height: 35px
    }

    .bar {
      background: none
    }

    canvas {
      width: 100%;
      height: calc(100% - 35px);
      max-width: 840px;
      max-height: 410px
    }
  }
}

.room-view {
  position: absolute;
  width: 100%;
  height: calc(100% - 10px);
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;

  button {
    @include haxball-button;
  }

  &>.container {
    position: relative;
    min-height: 0;
    max-width: 900px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 30px;
    z-index: 0;

    &>:not(:last-child) {
      margin-bottom: 15px
    }

    &>.header-btns {
      display: none
    }

    &>.teams {
      margin-left: -3px;
      margin-right: -3px;
      display: flex;
      flex: 1;
      justify-content: center;
      min-height: 60px;

      &>* {
        margin-left: 3px;
        margin-right: 3px
      }

      &>.tools {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80px;

        &>:not(:last-child) {
          margin-bottom: 6px
        }
      }

      &>.spacer {
        flex: 1 1 0;
        max-width: 83px;
        margin: 0 0
      }

      .player-list-view {
        min-width: 20px;
        width: 220px;
        display: flex;
        flex-flow: column;

        &>:not(:last-child) {
          margin-bottom: 6px
        }

        .buttons {
          display: flex;
          justify-content: center;
          flex-flow: row nowrap;

          button[data-hook="join-btn"] {
            min-width: 100px
          }
        }

        &.t-red button[data-hook="join-btn"] {
          color: #ff8686
        }

        &.t-blue button[data-hook="join-btn"] {
          color: #b7b7ff
        }

        .list {
          flex: 1;
          background-color: #111619;
          overflow-x: hidden;
          overflow-y: auto
        }
      }
    }

    &>.settings {
      width: 300px;
      align-self: center;
      white-space: nowrap;

      &>div {
        line-height: 22px;
        margin-bottom: 5px;
        display: flex;
        width: 100%;
        align-items: center;

        &>.lbl {
          flex: 0 0 90px
        }

        &>.val {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis
        }

        &>select {
          width: 100px
        }
      }

      [data-hook="stadium-name"].custom {
        color: #ffdb72
      }
    }

    &>.controls {
      display: flex;
      align-self: center;

      &>* {
        margin: 0 3px
      }
    }
  }

  .player-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 20px;
    vertical-align: middle;
    padding: 4px;
    margin: 2px;
    font-size: 15px;
    white-space: nowrap;

    &.admin [data-hook="name"] {
      color: #ffdb72
    }

    .flagico {
      margin-right: 3px;
      position: relative;
      top: 1px
    }

    [data-hook="name"] {
      min-width: 10px;
      overflow: hidden;
      flex: 1
    }

    [data-hook="ping"] {
      min-width: 30px;
      text-align: right
    }

    &:hover {
      background-color: #1b2328
    }
  }

  &:not(.admin) .admin-only {
    display: none !important
  }
}

.roomlist-view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sqlReplays {
    display: none;
    position: absolute;
    height: 30px;
    width: 40%;
    top: 3%;
    z-index: 6;

    button {
      @include haxball-button;
      width: calc(50% - 20px);
      height: 100%;
      cursor: pointer;
      margin: 0px 10px;
    }
  }

  .dialog {
    position: absolute;
    height: calc(94% - 75px);
    width: 40%;
    top: calc(3% + 40px);
  }
}

.settings-view {
  opacity: 0.3;
  visibility: hidden;
  width: 400px;
  height: 100%;
  max-height: 400px;
  position: relative;

  [data-hook="close"] {
    position: absolute;
    top: 12px;
    right: 10px
  }

  .tabcontents {
    overflow-y: auto
  }

  [data-hook="presskey"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    z-index: 1;

    .show {
      display: flex
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      border-radius: 0px
    }

    button:not(:last-child) {
      margin-right: 2px
    }

    button:first-child {
      border-radius: 5px 0 0 5px
    }

    button:last-child {
      border-radius: 0 5px 5px 0
    }

    .selected {
      background-color: #2f5e85
    }
  }

  .section {
    display: none;
    flex-direction: column;

    .toggle {
      line-height: 25px;
      cursor: default;

      i {
        margin-right: 5px
      }
    }

    .toggle:hover {
      background-color: #2f3c43
    }

    select {
      height: 25px;
      border: none;
      background-color: #244967;
      margin-left: 10px;

      option {
        background-color: #1A2125
      }
    }

    select:hover {
      background-color: #2f5e85
    }

    .loc {
      line-height: 25px
    }

    [data-hook="loc-ovr-btn"] {
      align-self: left
    }

    .inputrow {
      line-height: 25px;
      margin-bottom: 0;
      padding: 6px
    }

    .inputrow:nth-child(odd) {
      background-color: #222c31
    }

    .inputrow>:first-child {
      display: inline-block;
      width: 50px;
      font-weight: bold
    }

    .inputrow>:not(:first-child) {
      background-color: #2f3c43;
      border-radius: 7px;
      margin: 2px 2px;
      padding: 0px 5px;
      display: inline-block
    }

    .inputrow>:not(:first-child):hover {
      background-color: #3a4952
    }

    .inputrow>:not(:first-child):hover .icon-cancel {
      opacity: 1
    }

    .inputrow :last-child {
      cursor: pointer
    }

    .inputrow .icon-cancel {
      cursor: pointer;
      opacity: 0.6
    }
  }

  .section>:not(:last-child) {
    margin-bottom: 6px
  }

  .section.selected {
    display: flex
  }

  [data-hook="close"] {
    margin-top: auto
  }
}

.replay-controls-view {
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  left: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;

  >:not(:last-child) {
    margin-right: 6px
  }

  button {
    @include haxball-button;
  }

  [data-hook="spd"] {
    text-align: center;
    min-width: 40px
  }

  [data-hook="time"] {
    text-align: center;
    min-width: 50px
  }

  .timebar {
    background-color: transparent;
    flex-grow: 1;
    position: relative;
    height: 40px;
    cursor: pointer;

    .barbg {
      position: absolute;
      height: 6px;
      width: 100%;
      margin: auto;
      background-color: #393737;
      top: 0;
      bottom: 0
    }

    .bar {
      background-color: #5c5c5c;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0
    }

    .timetooltip {
      position: absolute;
      width: 60px;
      background-color: black;
      top: -20px;
      text-align: center;
      line-height: 30px;
      display: none
    }

    &:hover {
      .timetooltip {
        display: block
      }
    }

    .marker {
      width: 2px;
      height: 6px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #cecece;

      &.k1 {
        background-color: #5689e5
      }

      &.k2 {
        background-color: #e56e56
      }
    }

    html {
      overflow: auto
    }
  }
}